@font-face {
	font-family: 'Arimo-Bold';
	src: url('../fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'), url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'), url('../fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}
@font-face {
	font-family: 'ChangaOne';
	src: url('../fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('../fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'), url('../fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'), url('../fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
	box-sizing: border-box
}

html {
	background: #3F3B3B url(../images/bg-header.gif) repeat-x top center;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.fright {
	float: right;
}

.fleft {
	float: right;
}

.mtop30 {
	margin-top: 30px;
}

.mtop60 {
	margin-top: 60px;
}

body {
	margin: 0;
	padding: 0;
}

.main-body-container {
	margin: 0 auto;
	min-height: 812px;
	min-width: 1125px;
	width: 60%;
}

header {
	display: flow-root;
}

#header-wrapper {
	width: 800px;
}

#header-wrapper > a {
	margin-top: 15px;
	background: url(../images/bg-logo.png) repeat-x top left;
	color: #fff;
	font-family: 'Arimo-Bold';
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
	padding: 0 50px;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
}

nav {
	margin-top: 110px;
}

nav a, #contact-card a {
	float: right;
	background: #3F3B3B;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	letter-spacing: 0.05em;
	line-height: 40px;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}


#contact-card {
	background: #fff;
	border: 2px solid #DB1414;
	border-radius: 4px;
	display: flow-root;
}

#contact-card img {
	float: left;
	margin-right: 50px;
	padding: 0;
}

#contact-card h1 {
	width: 500px;
	display: inline-block;
	margin: 0;
	padding: 20px 0 0 0;
	color: #1b2130;
	font-family: 'Jura', sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 40px;
}

.gallery {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-track {
	height: 330px;
}

.gallery-item {
	margin-top: 10px;
	box-shadow: 0px 4px 15px #000000;
	max-width: 300px;
	min-height: 200px;
	text-align: center;
	background: #fff;
}

.gallery-item img {
	margin: 0 auto;
}

.gallery-item h4 {
	margin: 10px;
	padding: 5px 10px 10px 10px;
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	font-weight: normal;
}


#legislation h2 {
	background: url(../images/bg-featured.png) repeat-x;
	color: #fff;
	font-family: 'Comfortaa-Regular';
	font-size: 20px;
	font-weight: normal;
	height: 47px;
	letter-spacing: 0.1em;
	left: 15px;
	line-height: 47px;
	margin: 0;
	padding: 0 25px;
	position: absolute;
	text-transform: capitalize;
	top: -14px;
}

#legislation {
	width: 460px;
	background: #6B6B6B;
	border: 5px solid #878787;
	border-radius: 4px;
	padding: 0 15px;
	position: relative;
	margin-bottom: 25px;
	padding: 35px 15px 20px;
	text-align: right;
}
#legislation h2 {
	text-align: left;
}
#legislation h2 a {
	background: url(../images/icons.png) no-repeat 0 10px;
	display: inline-block;
	height: 40px;
	margin: 0 30px;
	padding: 0;
	text-indent: -99999px;
}
#legislation p {
	color: #f5f5f5;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 20px 0px;
	text-align: left;
}
.article-2 p a {
	color: #3F3B3B;
	text-decoration: underline;
}

.article-2 p a:hover {
	color: #FF0003;
}

.article-2 > a {
	color: #f5f5f5;
	font-size: 18px;
	text-decoration: none;
}

.article-2 > a:hover {
	color: #3F3B3B;
}

#footer-container {
	margin: 0 auto;
	min-width: 936px;
	width: 60%;
}

footer {
	background: #AD2020;
	border-top: 1px solid #DB1414;
	margin: 0;
	padding: 30px 0 28px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	min-width: 1125px;
}

footer p {
	color: #ededed;
	display: inline-block;
	float: right;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 27px 0 0;
	text-align: center;
}
footer .connect {
	box-sizing: content-box;
	background: #7F1E1E;
	float: right;
	height: 18px;
	margin: 0 20px 0 220px;
	padding: 22px 20px;
	overflow: hidden;
	width: 144px;
}
footer .connect span {
	color: #ededed;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 19px;
	line-height: 21px;
	margin: 0;
	padding: 0 0 0 39px;
}
footer .connect a {
	background: url(../images/icons-white.png) no-repeat;
	display: block;
	float: left;
	height: 20px;
	margin: 0 8px;
	padding: 0;
	text-indent: -99999px;
	width: 20px;
}
footer .connect #twitter {
	background-position: 0 -32px;
}
footer .connect #twitter:hover {
	background-position: -25px -32px;
}
footer .connect #facebook {
	background-position: 0 -57px;
}
footer .connect #facebook:hover {
	background-position: -25px -57px;
}
footer .connect #googleplus {
	background-position: 0 -82px;
}
footer .connect #googleplus:hover {
	background-position: -25px -82px;
}
footer .connect #pinterest {
	background-position: 0 -107px;
}
footer .connect #pinterest:hover {
	background-position: -25px -107px;
}

