#main-body .blog {
	padding: 0;
}
#main-body .content {
	float: left;
	margin: 0 35px 0 10px;
	padding: 0;
	width: 585px;
}
#main-body .content h3 {
	padding-bottom: 25px;
	padding-left: 0;
}
#main-body .content p {
	color: #464646;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#main-body .content p a {
	color: #464646;
	text-decoration: underline;
}
#main-body .content p a:hover {
	color: #252525;
}
#main-body .sidebar {
	background: url(../images/bg-sidebar.jpg) repeat-y top left;
	float: right;
	margin: 0 10px 82px 0;
	padding: 0;
	width: 320px;
}
#main-body .sidebar h3 {
	background: url(../images/bg-sidebar-heading.jpg) no-repeat 0 0;
	color: #2f394e;
	font-family: 'Comfortaa-Regular';
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 25px 10px;
	text-align: center;
	text-transform: capitalize;
}
#main-body .sidebar ul {
	background: url(../images/bg-sidebar-footer.jpg) no-repeat bottom left;
	margin: 0;
	padding: 0 20px 50px;
}
#main-body .sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0 0 24px;
}
#main-body .sidebar ul li span {
	color: #2f394e;
	display: block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.01em;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#main-body .sidebar ul li span a {
	color: #2f394e;
	text-decoration: none;
}
#main-body .sidebar ul li span a:hover {
	color: #4c8f97;
}
#main-body .sidebar ul li p {
	color: #000;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#main-body .sidebar ul li p a {
	color: #000;
	text-decoration: underline;
}
#main-body .sidebar ul li p a:hover {
	color: #4c8f97;
}

#main-body > .more {
	color: #464646;
	display: block;
	font-size: 13px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	width: 80px;
}
#main-body > .more:hover {
	color: #4a8b92;
}